[Unit]
Description=Echo Service (Activated on Demand)
Requires=echo-activated.socket

[Service]
ExecStart=/usr/local/bin/echo-activated
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
Also=echo-activated.socket
